@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    font-family: 'Patua One', cursive;
}

#placarLista {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  
  .ranking {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    transition: 300ms ease-in-out;
  }
  
  .ranking:hover {
    transform: scale(1.1);
  }